/* Setup snippet */
html{font-size: 125%;line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

* {margin: 0;padding: 0;-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}

/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');

/* Global styling */
:root {
  /* Colors */
  --primaryColor: white;
  --secondaryColor: black;
  /* Fonts */
  --headingFont: 'Abril Fatface', cursive;
  --contentFont: 'Raleway', sans-serif;
}

h1 {
  color: var(--primaryColor);
  margin: 0;
  font-size: 4rem;
  font-family: var(--headingFont);
  text-shadow: 7px 0px black;
}

h2 {
  font-family: var(--headingFont);
  font-size: 1.5rem;
}

h3 {
  font-family: var(--contentFont)
}

header p {
  color: white;
  font-family: var(--contentFont);
  line-height: 2rem;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

/* Wrapper that 'contains' content */
.wrapper {
  width: 90%;
  max-width: 2160px;
  margin: 0 auto;
}

.fixNav {
  position: fixed;
  z-index: 1;
}

/* Navbar component */
.bars, .close {
  font-size: 2rem;
  display: none;
}

.navbar {
  width: 100%;
  background-color: var(--primaryColor);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  padding: 10px 0;
}

.navbar h2 a {
  font-family: var(--headingFont);
  color: var(--secondaryColor);
  font-size: 1.8rem;
  text-decoration: none;
  position: relative;
}

nav .wrapper {
  display: flex;
  justify-content: space-between;
}

.fa-shopping-cart {
  color: var(--secondaryColor);
  font-size: 1.5rem;
  transition: font-size 0.3s ease-in-out;
}

.fa-shopping-cart:hover, 
.fa-shopping-cart:focus  {
  font-size: 1.6rem;
}

.navbarLinks {
  display: flex;
  align-items: center;
}

.navbarLink {
  text-transform: uppercase;
}

.navbarLink:visited {
  color: black;
}

.navbarLinksMobile {
  display: none;
  width: 100%;
  justify-content: space-between;
  margin: 30px 0;
}

.navbarLinks li:first-of-type a {
  position: relative;
  color: var(--secondaryColor);
  text-transform: uppercase;
  font-family: var(--contentFont);
  margin: 3px 50px 0 0;
}

.navbar h2 a:hover::after, 
.navbar h2 a:focus::after, 
.navbarLinks li:first-of-type a:hover::after,
.navbarLinks li:first-of-type a:focus::after,
footer a:hover::after, 
footer a:focus::after {
  content: "";
  position: absolute;
  height: 2px;
  background-color: red;
  bottom: 0;
  left: 0;
  animation: grow 0.5s forwards;
}

/* Header component */
header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/Assets/clark-street-mercantile-P3pI6xzovu0-unsplash.jpg);
  height: calc(100vh - 124.4px);
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  text-align: center;
}

header p {
  padding: 2rem 0;
}

.headerLink {
  background-color: var(--primaryColor);
  color: var(--secondaryColor);
  padding: 15px;
  border: 2px solid black;
  transition: all 0.3s ease-in-out;
  font-family: var(--contentFont);
}

/* Products component */
 .addToCartButton, 
.removeButton, .goBackLink {
  font-family: var(--contentFont);
  background-color: var(--primaryColor);
  color: var(--secondaryColor);
  outline: 2px solid var(--secondaryColor);
  border: none;
  padding: 10px 0;
  width: 50%;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  text-align: center;
}

.checkoutHeading {
  margin-bottom: 10px;
}

.checkoutButton, .checkoutSubmit {
    font-family: var(--contentFont);
    background-color: var(--primaryColor);
    color: var(--secondaryColor);
    outline: 2px solid var(--secondaryColor);
    border: none;
    padding: 10px 100px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    text-align: center;
}

.checkoutInput {
  margin: 10px 0;
  padding: 5px 0 5px 5px;
}

.checkoutSubmit {
  padding: 10px 0;
}

.productLink{
  width: 100%;
  font-family: var(--contentFont);
  background-color: var(--primaryColor);
  color: var(--secondaryColor);
  border: 2px solid var(--secondaryColor);
  padding: 10px 0;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.itemButtonContainer {
  display: flex;
}

.productsImage {
  width: 100%;
  height: 100%;
  max-height: 300px;
  max-width: 250px
}

.productsContainer {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  flex-wrap: wrap;
}

.product {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 300px;
  max-height: 600px;
  padding: 50px 0;
}

.productsHeading {
  padding: 2rem 0;
}

.productsTitle {
  padding: 1rem 0 0 0;
}

.productsPrice {
  padding: 1rem 0;
}

/* Individual product component */
.itemWrapper {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.itemContainer {
  height: calc(100vh - 130px);
  display: flex;
  align-items: center;
}

.itemImage {
  max-width: 500px;
  max-height: 500px;
}

.itemDescription {
  padding: 1rem 0 2rem 0;
}

.itemPrice {
  padding: 1rem 0;
  font-size: 1.5rem;
  font-weight: normal;
}

.itemInfo {
  max-width: 700px;
}

.itemTitle {
  font-size: 2rem;
}

/* Cart component */
.cartContainer {
  display: flex;
}

.cartHeading {
  padding: 2rem 0;
}

.cartItemContainer {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  padding: 2rem 0;
}

.cartItemImage {
  max-width: 500px;
  max-height: 300px;
}

.cartItemPrice {
  padding: 1rem 0;
}

.cartItemQuantity {
  padding-bottom: 1rem;
}

.cartItemDescription {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 50%;
}

.productLink:hover, .productLink:focus,           
.removeButton:hover, .removeButton:focus,    
.addToCartButton:hover, .addToCartButton:focus,
.headerLink:hover, .headerLink:focus,
.goBackLink:hover, .goBackLink:focus, 
.checkoutButton:hover, .checkoutButton:focus {
  background-color: var(--secondaryColor);
  color: var(--primaryColor);
}

.link:visited {
  color: none
}

.cartWrapper {
  position: relative;
}

.cartHeadings {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cartTotal{
  display: flex;
  justify-content: space-between;
}

.checkoutModal {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  bottom: 10px;
  width: 100%;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkoutForm {
  display: flex;
  flex-direction: column;
}

.checkoutConfirmation {
  margin-top: 10px;
}

.formContainer {
  position: relative;
  background-color: white;
  padding: 100px 50px;
  width: 50%;
}

.closeModal {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 1.5rem;
  cursor: pointer;
}

/* Footer Section */
footer {
  padding: 20px 0;
  text-align: center;
  font-family: var(--contentFont);
}

footer a {
  color: var(--secondaryColor);
  position: relative;
}

@keyframes grow {
  from {
    width: 0;
  } to {
    width: 100%;
  }
}

@media (max-width: 1000px) {
  .navbar h2 a {
    font-size: 1.4rem;
  }

  .itemContainer {
    height: auto;
    text-align: center;
  }

  .itemWrapper {
    flex-direction: column;
  }

  .itemDescription {
    padding: 0 0 1rem 0;
  }

  .itemImage {
    height: 400px;
    padding: 2rem 0;
  }

  .addToCartButton, 
  .productLink {
    width: 80%;
  }

  .cartItemContainer {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .cartHeading {
    text-align: center;
  }

  .cartItemImage {
    padding: 1rem 0;
  }

  .cartItemDescription {
    max-width: 80%;
  }

  .formContainer {
    width: 80%;
  }
}

@media (max-width: 700px) {
  .navbarLinks {
    display: none;
  }

  .navbarLinksMobile {
    display: flex;
  }

  .bars, .close {
    display: block;
  }

  .productsLink {
    margin-right: 20px;
  }

  h1 {
    font-size: 3rem;
  }

  header p {
    line-height: 1.5rem;
  }

  .logoLink {
    font-size: 1.5rem;
  }

  .productsLink {
    font-size: 0.8rem;
  }

  .productsHeading {
    text-align: center;
  }

  .productsContainer {
    justify-content: center;
  }

  .addToCartButton, 
  .productLink {
    width: 100%;
  }

  .removeButton {
    width: 100%;
  }
}

@media (max-width: 400px) {
  h1 {
    font-size: 2rem;
  }

  .navbarLinks li:first-of-type a {
    margin: 3px 10px 0 0;
    font-size: 0.9rem;
  } 

  .itemTitle {
    font-size: 1.5rem;
  }

  .itemPrice {
    font-size: 1.2rem
  }
}