/* Setup snippet */
html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}

/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');

/* Set root font size */
html {
  font-size: 125%;
}

* {
  margin: 0;
  padding: 0;
}

h1 {
  color: white;
  margin: 0;
  font-size: 4rem;
  font-family: 'Abril Fatface', cursive;
  text-shadow: 7px 0px black;
}

h2 {
  font-family: 'Abril Fatface', cursive;
  font-size: 1.5rem;
}

h3 {
  font-family: 'Raleway', sans-serif;
}

header p {
  color: white;
  font-family: 'Raleway', sans-serif;
  line-height: 2rem;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

/* Wrapper that 'contains' content */
.wrapper {
  width: 90%;
  max-width: 2160px;
  margin: 0 auto;
}

/* Navbar component */
.navbar {
  width: 100%;
  background-color: white;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar h2 a {
  font-family: 'Abril Fatface', cursive;
  color: black;
  font-size: 1.8rem;
  text-decoration: none;
  position: relative;
}

nav .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.fa-shopping-cart {
  font-size: 1.5rem;
}

.navbarLinks {
  display: flex;
  align-items: center;
}

.navbarLinks li a:first-of-type {
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
  margin-right: 100px;
  position: relative;
}

.navbar h2 a:hover::after, 
.navbarLinks li:first-of-type:hover::after,
footer a:hover::after {
  content: "";
  position: absolute;
  height: 2px;
  background-color: red;
  bottom: 0;
  left: 0;
  animation: grow 0.5s forwards;
}

/* Header component */
header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/Assets/clark-street-mercantile-P3pI6xzovu0-unsplash.jpg);
  height: calc(100vh - 124.4px);
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  text-align: center;
}

header p {
  padding: 2rem 0;
}

.headerLink {
  background-color: white;
  color: black;
  padding: 15px;
  border: 2px solid black;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
}

/* Products component */
.productsImage {
  width: 100%;
  height: 100%;
}

.productsContainer {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  flex-wrap: wrap;
  /* background-color: blanchedalmond; */
}

.product {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 300px;
  max-height: 600px;
  /* background-color: cadetblue; */
  padding: 50px 0;
}

.productsHeading {
  padding: 2rem 0;
}

.productsTitle {
  padding: 1rem 0 0 0;
}

.productsPrice {
  padding: 1rem 0;
}

.itemImage {
  max-width: 500px;
  max-height: 500px;
}

.itemWrapper {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.itemContainer {
  height: calc(100vh - 67px);
  display: flex;
  align-items: center;
}

.itemDescription {
  padding: 1rem 0 2rem 0;
}

.itemPrice {
  padding: 1rem 0;
}

.itemInfo {
  max-width: 700px;
}

.itemTitle {
  font-size: 2rem;
}

.cartHeading {
  padding: 2rem 0;
}

.cartItemContainer {
  display: flex;
  /* justify-content: space-evenly; */
  width: 50%;
  padding: 2rem 0;
  background-color: cadetblue;
}

.cartItemImage {
  max-width: 500px;
  max-height: 200px;
}

.cartItemDescription {
  display: flex;
  flex-direction: column;
  background-color: coral;
}

.productLink, .addToCartButton {
  background-color: white;
  color: black;
  border: 2px solid black;
  padding: 10px;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
}

.productLink:hover, .link:focus,
.addToCartButton:hover, .addToCartButton:focus,
.headerLink:hover, .headerLink:focus {
  background-color: black;
  color: white;
}

.link:visited {
  color: none
}

.cartWrapper {
  position: relative;
}

.cartHeadings {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.grandTotalContainer {
  position: sticky;
  right: 0;
  top: 0;
  background-color: coral;
  width: 50%;
}

footer {
  padding: 20px 0;
  text-align: center;
  font-family: 'Raleway', sans-serif;
}

footer a {
  color: black;
  position: relative;
}

.shoppingCartLink {
  color: black;
}

@keyframes grow {
  from {
    width: 0;
  } to {
    width: 100%;
  }
}

@media (max-width: 1000px) {
  .itemContainer {
    height: auto;
    text-align: center;
  }

  .itemWrapper {
    flex-direction: column;
  }

  .itemImage {
    height: 400px;
    padding: 1rem 0;
  }
}

@media (max-width: 700px) {
  .productsLink {
    margin-right: 20px;
  }

  h1 {
    font-size: 3rem;
  }

  .logoLink {
    font-size: 1.5rem;
  }

  .productsLink {
    font-size: 0.8rem;
  }

  .productsHeading {
    text-align: center;
  }

  .productsContainer {
    justify-content: center;
  }
}