.wrapper {
  width: 90%;
  max-width: 2160px;
  margin: 0 auto;
}

.navbar {
  width: 100%;
    background-color: white;
}

nav .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.fa-shopping-cart {
  font-size: 1.5rem;
}

header {
  background: url(/Assets/clark-street-mercantile-P3pI6xzovu0-unsplash.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center;
}

h1 {
  color: white;
}

header p {
  color: white;
}